body {
  font-family: 'Playfair Display', serif;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-form::after {
  content: '';
  clear: both;
  display: table;
}

.search-bar {
  background-color: rgb(179, 177, 175);
}

.search-bar-input {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  float: left;
  width: 300px;
  outline: none;
  background: #f1f1f1;
  font-family: 'Playfair Display', serif;
}

.search-bar-btn {
  float: left;
  width: 50px;
  padding: 10px;
  background: #c3c2c2;
  color: #000;
  font-size: 20px;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-left: none;
  cursor: pointer;
}

.search-bar-btn:hover {
  background: #646467ce;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 25px;
}

.photo-card {
  flex-flow: column;
  flex-wrap: wrap;
  margin-right: 30px;
}

.photo {
  display: block;
  width: 400px;
  height: 280px;
  margin: none;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 400px;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: solid;
}

.info-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px;
}

.info-item-data {
  padding-top: 5px;
}

.load-more-btn {
  display: flex;
  margin: 0px auto 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  color: #fff;
  background-color: rgb(179, 177, 175);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.load-more-btn:hover {
  color: #fff;
  background: #646467ce;
}
